@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 200px;
  min-width: 60px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 60px;
  }
}

header {
  height: 90px;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 57px);
  width: calc(100vw - 200px);
}

@media screen and (max-width: 768px) {
  main {
    width: calc(100vw - 60px);
  }
}

.guest {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 57px);
  width: 100%;
  /* background-color: #b6a5a5; */
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 57px);
  width: 100%;
  /* background-color: #b6a5a5; */
}

.calendar-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  height: calc(100vh - 178px);
  width: 100%;
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.calendar-unit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 224px;
  width: calc(100% / 8 + 10px);
  padding: 8px;
}

.channel-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 95%;
}

@media screen and (max-width: 1024px) {
  .channel-list {
    height: 86%;
  }
}




::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: #cfcfcf;
  border-radius: 16px;
}
::-webkit-scrollbar-thumb {
  background-color: #a2aaad;
  border-radius: 16px;
}

.label-text {
  font-size: 10px;
}